<footer class="container-fluid" style="height: 5vh;">
<hr/>  
<div class="row align-items-center">  
    <div class="col-md-4 d-flex align-items-center justify-content-center">  
      <p>Solirius Graduate Academy</p>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <%= image_tag "Sirius-Logo.svg", alt: "Sirius App Logo", class: "navbar-brand d-flex align-items-center", height: 70 %>
    </div>

    <div class="col-md-4 d-flex align-items-center justify-content-center">
      <p>Journal App Project</p>
    </div>  
  </div>

</footer>
